@font-face {
  font-family: 'prov';
  src: url('../font/prov.eot?13637012');
  src: url('../font/prov.eot?13637012#iefix') format('embedded-opentype'),
       url('../font/prov.woff2?13637012') format('woff2'),
       url('../font/prov.woff?13637012') format('woff'),
       url('../font/prov.ttf?13637012') format('truetype'),
       url('../font/prov.svg?13637012#prov') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2.icon {
    font-family: 'prov';
    font-size: 65px;
    margin-top: 70px;
    margin-bottom: 15px;
    color: #4f5054;
}

span.color_icon {
    font-family: 'prov';
    font-size: 20px;
    vertical-align: baseline;
    padding-bottom: 20px;
    padding-top: 20px;
}

body, div, html, main, label, input, h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

body {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1C1C1C;
    font-weight: 300;
    background-image: url('../img/bg.jpg');
    background-size: 500px;
    background-repeat: repeat;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    min-height: 100px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #4f5054;
    
}

h4 {
    text-align: center;
}

form {
    width: 100%;
}


div.wrapper_top {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: top;
    margin-top: 30px;
}

div.wrapper_low {
    width: 70%;
    margin-left: 15%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

	h1 {
		text-align: center;
	}

	* {
		box-sizing: border-box;
	}

.wrapper_top input {
    margin: 0;
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
    display: block;
    padding: 8px;
}

.wrapper_top label {
    margin: 0;
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
    display: block;
    padding: 8px;
}

	/*---------*/
	fieldset.chose_color {
    display: inline-block;
    vertical-align: top;
    color: #333;
    margin: 0;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

}


.chose_color label.label_color  {
    padding-left: 9px;
    padding-right: 9px;
    transition: 0.3s;
    width: 100%;
    position: relative;
    color: #333;
    background-color: #fff;
    display: block;
    border: 0.5px solid #e6e6e6;
    margin-right: 1px;

}


fieldset.chose_color h3 {
    color: #333;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
	
}



fieldset.chose_color label:hover  {
    background-color: #ffe7b3;

}



input[type="checkbox"]:checked ~ label.label_color{
    background-color: #ffe6e6;
    border: 0.5px solid #333;
}

input[type="checkbox"]:checked ~ label.label_color:hover{
    background-color: #ffcccc;
}


.cat_checkbox {
    opacity: 0;
    display: inline-block;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}


div.category_section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

div.color_prev {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}

fieldset {
	 -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    min-width: -webkit-min-content;
    border-width: 0px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

button {

    width: 40%;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #4f5054;
    background-color: #fff;
    color: #4f5054;
    

}


	/*---------*/

        div.wrapper_rad {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    div.wrapper_rad div {
        width: 20%; 
        height: 90px;
        border-bottom: 0.5px solid #eee;
    }

    div.wrapper_rad p {
        vertical-align: baseline;

        padding-bottom: 20px;
        padding-top: 20px;
    }

    div.bild img {
        height: 80px; 
    }

    div.wrapper_rad h3 {
        vertical-align: text-bottom;
        padding-top: 20px;
    }

